
.navbar-style {

  
}
.listItemContainer {
  text-align: center;
  margin: 100px;
}

.navbar-style ul li {
  list-style: none;
  display: inline;
  width: auto;
  padding: 0px 20px 0px 20px;

}
.color-nav{
  background-color: #0971cb;
  color: white;
}

.color-nav a {
  color: white;
}
.color-nav a:hover {
  color: #0f3b61;
  fill: #0f3b61;
}


.App {

}

.carrito{
  height: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  
}

.App-link {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
